* {
    margin: 0%;
    padding: 0%;
}

.big-grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-items: stretch;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;   
    border-bottom: 5px solid blueviolet;
}

.catimage {
    background-image: url(https://i.ytimg.com/vi/HeFSK-kye-E/hqdefault.jpg);
    min-height: 150px;  
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#headerjob {
    width: 100%;
    height: auto;
    text-align: center;
}

#headercont {
    width: 50%;
    height: auto;
    text-align: center;
    background-color: springgreen;
}

#headerul {
    width: 50%;
    height: auto;
    list-style-type: none;
    background-color: springgreen;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#jhistoryh2 {
    text-align: center;
}

#work {
    list-style-type: none;
}